#personalization
  %h1 THE BODY TEST
  .content-box
    %h1 Tell us about yourself

    .primer-wrapper
      #p13n-box
        = form_for @user, url: save_user_path do |user|
          .name
            What’s your first name?
            = user.text_field :first_name, :input_html => {:autofocus => true}
          .gender
            What's your gender?
            = user.select(:gender, options_for_select(['male', 'female']))
          = fields_for @personalization_survey, @user.personalization_survey do |survey|
            .referral
              How did you hear about us?
              = survey.select(:referral, options_for_select(['A friend','Social Media', 'Google', 'News or Blog']))

          = user.submit "Next, Personalize your body test!"


