#password-box
  = simple_form_for resource, :as => resource_name, :url => user_password_confirmation_path do |form|
    .input-form
      = form.input :password, autocomplete: "off",input_html: {:autofocus => true}, :placeholder => "Choose a password", label: false
      = form.input :password_confirmation, :placeholder => "Confirm your password", label: false
      = form.input :confirmation_token, :as => :hidden, :value => @original_token
      = form.submit "BECOME A WINNER"
