!!! 5
%html
  %head
    - page_title = 'The Body Test System'
    %title= page_title
    %meta{:name => "title", :title => page_title}
    = render :partial => 'layouts/stylesheets'
    = yield(:head)

  %body
    = render :partial => 'layouts/notifications/flash_messages'
    .container#content-wrapper
      #title
        %h1
          =link_to('THE BODY TEST', root_path)
      - if content_for? :subtitle
        #subtitle= yield :subtitle
      - if content_for? :topsection
        #topsection= yield :topsection
      #box-content
        = yield

    #footer-wrapper= render :partial => 'layouts/footer'
