!!! 5
%html
  %head
    - page_title = 'The Body Test System'
    %title= page_title
    %meta{:name => "title", :title => page_title}
    = render :partial => 'layouts/stylesheets'
    = yield(:head)

  %body
    #content-wrapper
      #container
        / = render :partial => 'layouts/trainer_app/header/notifications/flash_messages'
        #title
          %h1 THE BODY TEST
        - if content_for? :subtitle
          #subtitle= yield :subtitle
        - if content_for? :topsection
          #topsection= yield :topsection
        #box-content
          = yield

    #footer-wrapper= render :partial => 'layouts/footer'
